.me__avatar {
    background-image: url("../../../images/me.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .me__avatar {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 700px) {
    .me__avatar {
        width: 292px;
        height: 352px;
    }
}