.profile__button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 220px;
    padding: 0;
}

.profile__button:hover {
    opacity: 0.8;
}