.me__title-box {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-top: 100px;
}

@media screen and (max-width: 320px) {
    .me__title-box {
        padding-top: 70px;
    }
}