.me__text-box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .me__text-box {
        width: 70%;
    }
}

@media screen and (max-width: 320px) {
    .me__text-box {
        width: 100%;
    }
}