.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    width: 400px;
}

@media screen and (max-width: 320px) {
    .form {
        width: 90%;
    }
}