.me__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    padding: 0 0 23px;
}

@media screen and (max-width: 320px) {
    .me__title {
        font-size: 18px;
    }
}