.movies__button {
    width: 100%;
    min-height: 36px;
    border: none;
    border-radius: 6px;
    background-color: #F9F9F9;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}