@import url("./vendor/normalize.css");

@import url("./block/page/page.css");

@import url("./block/header/header.css");
@import url("./block/header/_bg/header_bg.css");
@import url("./block/header/__box/header__box.css");
@import url("./block/header/__minibox/header__minibox.css");
@import url("./block/header/__box/_column/header__box_column.css");
@import url("./block/header/__menu/header__menu.css");
@import url("./block/header/__link/header__link.css");
@import url("./block/header/__title/header__title.css");
@import url("./block/header/__button/header__button.css");
@import url("./block/header/__button/_black/header__button_black.css");
@import url("./block/header/__logo/header__logo.css");
@import url("./block/header/__img/header__img.css");

@import url("./block/footer/footer.css");
@import url("./block/footer/__box/footer__box.css");
@import url("./block/footer/__title/footer__title.css");
@import url("./block/footer/__copyright/footer__copyright.css");
@import url("./block/footer/__link/footer__link.css");
@import url("./block/footer/__menu/footer__menu.css");
@import url("./block/footer/__box/_bottom-line/footer__box_bottom-line.css");

@import url("./block/project/project.css");
@import url("./block/project/__title-box/project__title-box.css");
@import url("./block/project/__box/project__box.css");
@import url("./block/project/__title/project__title.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
