.project__title-box {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: 110px auto 0;
}